.register {
  max-width: 480px;
}

.register__form-button {
  width: 100%;
  @media(min-width: 576px) {
    width: 200px;
  }
}

.register__header-logo {
  background-image: url('./../img/paw.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.register__header-title {
  margin-bottom: 0px;
  @media(min-width: 576px) {
    margin-bottom: .5rem;  
  }
}