html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

.footer {
  padding: 20px;
}

.inner-header-logo {
  background-image: url('./../img/paw.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.inner-header-title {
  margin-bottom: 0px;
  @media(min-width: 576px) {
    margin-bottom: .5rem;  
  }
}

.submit-button {
  width: 100%;
  @media(min-width: 576px) {
    width: 200px;
  }
}