{% macro menu(ROUTES, menu_type) %}

<ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-center">
  <li class="nav-item">
    <a class="nav-link {% if request.path == ROUTES['home'] %} active {% endif %} " aria-current="page" href="{{ROUTES['home']}}">Home</a>
  </li>
  {% if menu_type == "movil" %}
  <li class="nav-item">
    <a class="nav-link {% if request.path == ROUTES['pets']['index'] %} active {% endif %}" href="{{ROUTES['pets']['index']}}">Pets</a>
  </li>
  {% if session["id"] %}
  <li class="nav-item">
    <a class="nav-link {% if request.path == ROUTES['pets']['register'] %} active {% endif %}" href="{{ROUTES['pets']['register']}}">Add pet</a>
  </li>
  {% endif %}
  {% else %}
  <li class="nav-item dropdown">
    <a class="nav-link {% if 'pets' in request.path %} active {% endif %} dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Pets
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{{ROUTES['pets']['index']}}">All</a></li>
      <li><a class="dropdown-item" href="{{ROUTES['pets']['index']}}/?type=2">Cats</a></li>
      <li><a class="dropdown-item" href="{{ROUTES['pets']['index']}}/?type=1">Dogs</a></li>
      {% if session["id"] %}
      <li>
        <a class="dropdown-item {% if request.path == ROUTES['pets']['register'] %} active {% endif %}" href="{{ROUTES['pets']['register']}}">Add pet</a>
      </li>
      {% endif %}
    </ul>
  </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link {% if request.path == ROUTES['about-us'] %} active {% endif %}" href="{{ROUTES['about-us']}}">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.path == ROUTES['contact-us'] %} active {% endif %}" href="{{ROUTES['contact-us']}}">Contact Us</a>
  </li>
  {% if session["id"] %}
  <li class="nav-item">
    <a class="nav-link {% if request.path == ROUTES['users']['index'] %} active {% endif %}" href="{{ROUTES['users']['index']}}">My Profile</a>
  </li>
  {% endif %}
  {% if not session["id"] %}
  <li class="nav-item">
    <a class="nav-link {% if request.path == ROUTES['users']['register'] %} active {% endif %}" href="{{ROUTES['users']['register']}}">Register</a>
  </li>
  <li class="nav-item d-block d-lg-none">
    <a class="nav-link {% if request.path == ROUTES['users']['login'] %} active {% endif %}" href="{{ROUTES['users']['login']}}">Log In</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="{{ROUTES['users']['logout']}}">Logout</a>
  </li>
  {% endif %}
  {% if session["id"] %}
  <li class="nav-item d-block d-lg-none">
    <a class="nav-link" href="{{ROUTES['users']['logout']}}">Logout</a>
  </li>
  {% endif %}
</ul>
{% endmacro %}